# Compiler files
cache/
out/
!out/Duel.sol/
!out/DuelFactory.sol/
!out/DuelOption.sol/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
